* {
  font-family: Arial;
}

header {
  height: 5vh;
}

main {
  padding-top: 90px;
  text-align: center;
  height: 60vh;
}

.hero {
  height: 60%;
}

button {
  margin-top: 80px;
  padding-top: 20px;
  padding-bottom: 35px;
  width: 50%;
  height: 15%;
}

a {
  text-decoration: none;
  color: black;
}

.moreInfo {
  margin-top: -30px;
}

.infoBox    {
  padding: 15px;
  width: 30%;
  text-align: justify;
  float: left;
}

.footerCopy {
  text-align: center;
}

footer {
  clear: both;
  height: 5vh;
  position: sticky;
  margin-top: 100px;
}
