* {
  font-family: Arial;
}

header {
  height: 5vh;
}

main {
  text-align: center;
  height: 80vh;
}

.hero {
  height: 60%;
}

.infoBox    {
  padding: 15px;
  width: 30%;
  text-align: justify;
  float: left;

}

footer {
  clear: both;
  height: 5vh;
  position: sticky;
}
