* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: #E3A634;
}

header {
  padding-top: 15px;
  padding-left: 5px;
  height: 5vh;
  background-color: black;
  font-size: 20px;
  opacity: .6;
  color: white;
}

main {
  height: 86vh;
}

.left {
  width: 50%;
  height: 100%;
  float: left;
}

.right {
  width: 50%;
  height: 100%;
  float: left;
}

select {
  height: 35%;
  width: 80%;
  background-color: white;
  color: black;
  margin: 20px 0 0 20px;
}

option {
  background-color: white;
}

select option:disabled {
  color: black;
  font-weight: bold;
}

label {
  font-size: 12px;
}

#quantity {
  background-color: white;
  height: 30px;
  width: 15%;
}

.quantAdd {
  margin: 10px 0 0 20px;
}

button.add {
  background-color: #5973A6;
  color: white;
  border: none;
  width: 35%;
  padding: 10px;
  font-size: 15px;
  margin-left: 20px;
}

.customerInfo {
  margin: 10px 0 0 20px;
}

input:not(number) {
  width: 80%;
  background-color: white;
}

button#deliver {
  background-color: #7EBA92;
  color: white;
  width: 81%;
  padding: 10px;
  margin-top: 20px;
  border: none;
}

.selectedItems {
  margin: 20px;
  padding: 10px;
  width: 35%;
  height: 70%;
  background-color: white;
  float: left;
  position: fixed;
}

.totals {
  padding: 10px;
  width: 35%;
  height: 100px;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  background-color: white;
}

.totals div {
  background-color: white;
  width: 100%;
}

.footerCopy {
  text-align: center;
  background-color: black;
}

icon {
  background-color: black;
}

footer {
  height: 5vh;
  position: sticky;
  padding-top: 15px;
  padding-bottom: 1px;
  background-color: black;
  color: white;
}
